.counter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
 
.counter h4 {
    color: rgb(16, 0, 54);
}
 
.counter__output {
    font-size: 2rem;
    color: rgba(0, 14, 0, 0.747)
}
 
.btn__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 0.5rem;
}
 
.control__btn {
    font-size: 20px;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: rgba(39, 121, 18, 0.76);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
.control__btn:hover {
    background-color: rgba(39, 121, 18, 0.76);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}
 
.agregar {
    width: 200px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(10, 46, 1);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
 
.agregar:hover {
    background-color: rgba(39, 121, 18, 0.76);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}
