.counter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
 
.counter h4 {
    color: rgb(16, 0, 54);
}
 
.counter__output {
    font-size: 2rem;
    color: black;
}
 
.btn__container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 0.5rem;
}
 
.control__btn {
    font-size: 20px;
    padding: 0.5rem 1rem;
    background-color: rgb(210, 192, 253);
    color: black;
    border: 1px solid rgb(210, 192, 253);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 0.375rem;
}
 
.control__btn:hover {
    background-color: rgb(181, 150, 248);
    color: black;
}
 
.agregar {
    width: 200px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(210, 192, 253);
    color: black;
    border: 1px solid rgb(210, 192, 253);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 0.375rem;
}
 
.agregar:hover {
    background-color: rgb(181, 150, 248);
    color: black;
}
