.cartwidget-div {
    display: flex;
}

.cart-count-div {
    border: 1px solid red;
    border-radius: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: red;
    color: white;
    font-weight: bolder;
}