.libros-list {
    display: grid; 
    justify-content: center;
}

.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15% !important;
    padding-right: 15% !important;
    grid-gap: 2rem;
    margin-block: 2rem;
    padding: 0 1rem;
    justify-items: center;
    align-items: center;
}

@media (max-width: 900px) {
    .parent{
        grid-template-columns: 1fr ;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
}